.singlePost_Cont{
    background-color: white;
    border-radius: 10px;
}
.header{
    justify-content: space-between;
}
.proileImg{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.profile_name{
    color: var(--secondary-color);
    cursor: pointer;
}
.postEditDelete{
    cursor: pointer;
}
.post_content{
    line-height: 1.6;
    font-weight: 420;
}
.post_footer{
    cursor: pointer;
}
.SinglePost_commentImg{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
}
.SinglePostcomment_container{
  width: 90%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}
.comment_input{
    border: none;
    outline: none;
    width: 90%;
}
.singlePost_commentBtn{
  border: none;
  color: var(--primary-color-hover);
  background-color: white;
  cursor: pointer;
}