.Bookmark_navbar{
    z-index: 1;
    position: sticky;
    top: 0;
    bottom: 0;
    box-shadow:  0 1px 3px 0 var(--boxShadow-color);
}
.BookmarkCenter_container{
    margin-left: 3rem;
    margin-right: 2rem;
}
.bookmark_aside{
    flex: 1
}
.bookmark_main{
    flex: 3
}
.bookmark_right{
    flex: 1;
}
.bookmark_post{
    margin-left: 6rem;
    margin-right: 6rem;
}